---
import TodoGroup from "@components/TodoGroup.astro";
import BaseModal from "@components/Modal/BaseModal.astro";
import CreateTodo from "@components/Modal/Content/CreateTodo.astro";
import DeleteTodo from "@components/Modal/Content/DeleteTodo.astro";
import UpdateTodo from "@components/Modal/Content/UpdateTodo.astro";
import { TodoModalType } from "@utils/todoModalType";
import ViewTodo from "./Modal/Content/ViewTodo.astro";

// Global type declaration for modalControls
declare global {
  interface Window {
    modalControls?: {
      [key: string]: {
        show: () => void;
        close: () => void;
      };
    };
  }
}
---

<div class="main-container">
  <div>
    <BaseModal
      title={"Create Task"}
      id={TodoModalType.CREATE}
      responsive={true}
    >
      <CreateTodo />
    </BaseModal>
    <BaseModal
      title={"Update Task"}
      id={TodoModalType.UPDATE}
      responsive={true}
    >
      <UpdateTodo />
    </BaseModal>
    <BaseModal title={"Delete Task"} id={TodoModalType.DELETE}>
      <DeleteTodo />
    </BaseModal>
    <BaseModal title={"Task Detail"} id={TodoModalType.VIEW}>
      <ViewTodo />
    </BaseModal>
  </div>

  <h1 class="board-title">My Board</h1>
  <div class="container-btnSort">
    <div class="btnSort-div">
      <button class="sort" data-value="Desc"></button>
    </div>
  </div>
  <div class="todo-group-container">
    <TodoGroup id="todo-add" title="Todo" color="#ffd700" />
    <TodoGroup id="in-progress" title="In Progress" color="#00bfff" />
    <TodoGroup id="todo-done" title="Done" color="#32cd32" />
  </div>
</div>
